ul{
    list-style-type: none;
    padding: 0;
}
#lists-body{
    width: inherit;
    height: fit-content;
}
#genres,#songs,#queue{
    display: inline-block;
    text-align: center;
    background-color: brown;
}
#holder>li{
    display: inline-block;
}
#genres{
    margin-left: 0.25%;
    width: 25%;
}
#queue{
    width: 25%;
}
#songs{
    width: 49%;
}
nav{
    background-color: aqua;
}
a{
    color: black;
}
nav>ul>li{
    display: inline-block;
    margin-left: 1%;
}
body{
    margin: 0;
    padding: 0;
}
.line>h1,.line>p{
    display: inline-block;
}
.line>a,.line>p{
    float: right;
}
.inline{
    display: inline-block;
}
